body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 800px; /* Установим фиксированную ширину контейнера */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-box {
    flex: 1; /* Обеспечиваем равную ширину для обеих форм */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-left {
    border-right: 1px solid #ccc; /* Разделяем формы линией */
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.half-width {
    flex: 1;
}

label {
    font-size: 14px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.form-right {
    border-left: none;
}
